.uc-whats-on-component{
    width: 600px;
    border: solid gray 1px;
    margin: 1em;
}

.uc-whats-on-component ul{
    list-style:none;
    padding-left:0;
    border: solid gray 1px;
}

.uc-event{
    height: 80px;
    border-bottom: solid #ebebeb 1px;
}

li.uc-event img{
  height: 80px;
  float: right;
  margin-right: 3px;
}

.uc-event-content{
    padding: 3px;
}

li.uc-month-heading,
li.uc-day-heading{
    background-color: #ebebeb;
    padding: 5px;
}

li.uc-month-heading{
    background-color: #bbbbff;
}

.uc-month-heading h2,
.uc-day-heading h3,
.uc-event h4{
    margin: 0px;
}

.uc-whats-on-component select{
    width:32%;
    margin-left: 2px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    border: solid 1px gray;
    border-radius: 0;
    height: 34px;
}

.uc-event-full img{
    float: right;
    width: 200px;
}

.uc-current-repeat{
    background-color: yellow;
}

.uc-current-event{
    background-color: yellow;
}